.etxlpmSpilvGwQec4RSwr {
  float: left;
}
.VBAZ2aSamkdFYbrfSLn3S {
  background-color: brown;
  border: 1px dotted black;
  margin: 0 auto;
}
.VBAZ2aSamkdFYbrfSLn3S .yseiNhGzo4tUjV4OgBw78 {
  width: 200px;
  height: 20px;
  background-color: lawngreen;
}
#lbpceY1UVw6FkXLbHcQ6P {
  color: blueviolet;
  text-align: center;
}
.yxf8w0md6gflBvcS6KbLg {
  display: inline-block;
}
